<h1>Lista de Categoría</h1>
<a href="<%= new_category_path %>" class="btn btn-primary btn-icon-split">
  <span class="icon text-white-50">
    <i class="fas fa-flag"></i>
  </span>
  <span class="text">Crear Categoría</span>
</a>

<section class="py-6">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
      <% @categories.each do |category| %>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Category image -->
            <% if category.image.attached? %>
              <%= link_to category_path(category) do %>

                <%= image_tag category.image, class: "card-img-top img-fluid rounded", alt: "Category Image" %>
              <% end %>
            <% else %>
              <div class="placeholder-image"></div>
            <% end %>
            <!-- Category details -->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Category name -->
                <h4 class="fw-bolder text-uppercase"><%= category.name %></h4>
              </div>
            </div>
            <!-- Category actions -->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="row">
                <div class="col-md-6 text-center">
                  <%= link_to "Editar", edit_category_path(category), class: 'btn btn-outline-dark mt-auto' %>
                </div>
                <div class="col-md-6 text-center">
                  <%= button_to "Borrar", category, method: :delete, data: { confirm: '¿Estás seguro de eliminar esta categoría?' }, class: 'btn btn-outline-dark mt-auto' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
