<section class="py-5 bg-light">
  <div class="container-fluid px-4 px-lg-5 mt-5">
    <h1 class="fw-bolder mb-4">Related products</h1>
    <div class="row gx-4 gx-lg-5">
      <% if @category.products.any? %>
        <% @category.products.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
            <div class="card h-100">
              <!-- Product image -->
              <% if product.image.attached? %>
                <%= link_to product_path(product) do %>
                  <%= image_tag product.image, class: "card-img-top", alt: "Product Image" %>
                <% end %>
              <% else %>
                <div class="placeholder-image"></div>
              <% end %>
              <!-- Product details -->
              <div class="card-body p-1">
                <div class="text-center">
                  <!-- Product name -->
                  <h5 class="fw-bolder text-primary"><%= product.name %></h5>
                  <!-- Product quantity -->
                  <% if product.quantity > 0 %>
                    <p class="text-success">In Stock: <%= product.quantity %></p>
                  <% else %>
                    <p class="text-danger">Out of Stock</p>
                  <% end %>
                  <!-- Product price -->
                  <p class="font-size-lg"><%= number_to_currency(product.price) %></p>
                </div>
              </div>
              <!-- Product actions -->
              <div class="card-footer p-1 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                  <%= link_to "Detalle", product_path(product), class: "btn btn-outline-dark mt-auto" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col text-center">
  <p class="fw-bold text-danger display-4">Esta categoría no tiene productos relacionados.</p>
</div>

      <% end %>
    </div>
  </div>
</section>
