<div class="row">
  <div class="col-lg-12">
    <div class="card p-5">
      <%= form_with(model: product) do |form| %>
        <% if product.errors.any? %>
          <div style="color: red;">
            <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
            <ul>
              <% product.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name, class: 'form-label' %>
          <%= form.text_field :name, class: 'form-control', placeholder: 'Nombre' %>
        </div>

        <div class="form-group">
          <%= form.label :description, class: 'form-label' %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :category_id, class: 'form-label' %>
          <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: 'Seleccione una categoría' }, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :image, class: 'form-label' %>
          <%= form.file_field :image, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :price, class: 'form-label' %>
          <%= form.text_field :price, class: 'form-control', placeholder: 'Precio' %>
        </div>

        <div class="form-group">
          <%= form.label :quantity, class: 'form-label' %>
          <%= form.number_field :quantity, class: 'form-control', placeholder: 'Cantidad' %>
        </div>

        <div>
          <%= form.submit "Enviar", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

