<!DOCTYPE html>
<html>
  <head>
    <title>BookShopper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">


  </head>


  <body id="page-top">
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container px-4">
    <a class="navbar-brand" href="#page-top">BOOKSHOPPER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">


        <!-- Agrega el enlace de "Productos" -->
        <li class="nav-item">
          <%= link_to products_path, class: 'nav-link' do %>
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Productos</span>
          <% end %>
        </li>
        <!-- Agrega el enlace de "Categoría" -->
        <li class="nav-item">
          <%= link_to categories_path, class: 'nav-link' do %>
            <i class="fas fa-fw fa-cog"></i>
            <span>Categoría</span>
          <% end %>
        </li>
        <!-- Agrega el enlace de "Salir" -->
        <li class="nav-item">
          <%= link_to root_path, class: 'nav-link collapsed' do %>
            <i class="fas fa-fw fa-wrench"></i>
            <span>Salir</span>
          <% end %>
        </li>
                <li class="nav-item">
          <%= link_to order_items_path, class: 'nav-link' do %>
            <i class="fas fa-shopping-cart"></i>
            <% if cart_quantity && cart_quantity > 0 %>
              <span class="badge bg-primary"><%= cart_quantity %></span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>



</div>
<br>
<br>


                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">



                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                        <%= yield %>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
<footer class="sticky-footer bg-dark text-white">
    <div class="container my-auto">
        <div class="text-center my-auto">
            <p style="font-size: 16px;">Guinpen &copy; 2023 | Tienda de Libros</p>
            <p style="font-size: 14px;">Teléfono: 3045233235 | Correo: guinpen1902@gmail.com</p>
        </div>
    </div>
</footer>

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
